// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  height: 100vh;
}

.tasks {

  .badge {
    background-color: red;
  }

  a {
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
  }

  .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    transition: ease .3s;
    &:hover {
      transform: scale(1.051);
    }
  }
  .fa-times-circle {
    color: red;
    cursor: pointer;
  }
 
  .done {
    text-decoration-line: line-through;
    color: green;
    opacity: .5;

    .badge {
      background-color: green;
    }
  }
}
