// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.tasks {
  .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .fa-times-circle {
    color: red;
    cursor: pointer;
  }
}